:root {
  --background-color: rgb(27, 14, 1);
  --background-color-section: rgb(46, 35, 35);

  --border-radius: 6px;
  --padding: 10px;

  --font-size-h1: 40px;
  --font-size-h2: 28px;
  --font-size-p: 20px;
  --font-size-span: 16px;

  --color-h1: whitesmoke;
  --color-h2: whitesmoke;
  --color-p: #ffe1d7;
  --color-span: #ffe1d7;

  --font-h1: monospace;
  --font-a: 'Courier New', Courier, monospace;
  --font-p: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-h1);
  font-family: var(--font-h1);
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--color-h2);
}

p {
  font-size: var(--font-size-p);
  color: var(--color-p);
  font-family: var(--font-p);
}

a {
  color: whitesmoke;
  font-size: 18px;
  font-family: var(--font-a);
}

span {
  font-size: var(--font-size-span);
  color: var(--color-span);
}

body {
  margin: 10px;
  background-color: var(--background-color);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: var(--border-radius);
}

header > nav > ul {
  display: flex;
  gap: 26px;
}

header > img {
  display: none;
}

main > #wallpaper {
  background-image: url(./assets/wallpaper.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  border-radius: var(--border-radius);
}

main > #wallpaper > img {
  height: 60vh;
  width: 100%;
}

main > #wallpaper > .presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

main > #wallpaper > .presentation > a {
  background-color: var(--background-color-section);
  padding: 14px;
  border-radius: var(--border-radius);
}

main {
  height: 25vh;
  width: 100%;
  border-radius: var(--border-radius);
  margin-top: 20px;
}

main > section {
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main > section > div {
  height: 320px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

main > section > .color1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main > section > .color2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main > section > .color3 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main > section > .color1 {
  background-image: url(/assets/cafe1.jpg);
  background-size: cover;
}

main > section > .color2 {
  background-image: url(/assets/dulce2.jpg);
  background-size: cover;
}

main > section > .color3 {
  background-image: url(/assets/tarta.jpg);
  background-size: cover;
}

main > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: var(--border-radius);
  gap: 0.5rem;
  padding: var(--padding);
}

button {
  width: 100px;
  padding: 8px;
  border-radius: var(--border-radius);
  border-style: none;
  font-family: var(--font-p);
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

main > #products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 260px;
  justify-items: center;
  padding: 20px;
  margin-top: 100px;
}

main > #products > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main > #products > div > img {
  max-width: 800px;
  height: 500px;
  border-radius: var(--border-radius);
}

main > #information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--padding);
  margin-top: 360px;
  border-radius: var(--border-radius);
}

main > #information > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
}

main > #information > .text > .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 200px;
}

main > #information > .image > img {
  height: 700px;
  width: 500px;
  border-radius: var(--border-radius);
}

main > #work {
  width: 100%;
  height: 160px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  margin-top: 230px;
}

main > #work > .content {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color-section);
  border-radius: var(--border-radius);
}

main > #work > .content > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 620px) {
  header > nav {
    display: none;
  }

  header > img {
    display: block;
  }

  main > #wallpaper {
    background-image: url(/assets/galletas.jpg);
  }

  main > section {
    display: flex;
    flex-direction: column;
  }

  main > #products {
    display: flex;
    flex-direction: column;
  }

  main > #information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  main > #information > .text {
    width: fit-content;
  }

  main > #information > .image > img {
    width: auto;
    height: 650px;
  }

  main > #menu > div {
    width: 400px;
  }

  main > #work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  main > #work > .content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
  }

  main > #work > .content > div {
    text-align: center;
    padding: 10px;
  }

  main > #work > .content > div > p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  main > #wallpaper > .presentation {
    width: max-content;
    padding: 30%;
  }

  main > section > .color1 > div {
    text-align: center;
  }

  main > #products {
    display: grid;
    grid-template-columns: 1fr;
  }

  main > #information {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: 0;
    margin-top: 100px;
  }

  main > #information > .text > .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main > #work > .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: 150px;
  }
}

@media screen and (max-width: 830px) {
  header > nav {
    display: none;
  }

  header > img {
    display: block;
  }

  main > #products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30rem;
  }

  main > #products > div > img {
    width: auto;
    height: 700px;
  }

  main > #information {
    margin-top: 420px;
  }

  main > #information > .image > img {
    width: auto;
    height: 650px;
  }

  main > #work > .content {
    width: 100%;
  }
}
